# Database Configuration
DB_HOST=dydb2-instance-1.cz8kik28igwg.us-east-1.rds.amazonaws.com
DB_USER=GestionPanificados
DB_PASS=paniFican2la
DB_NAME=Acceso_A_Planta
DB_PORT=3306

# Server Configuration
PORT=5000
NODE_ENV=development

# Paginación - Cantidad de solicitudes por página en el listado (default: 20)
PAGE_SIZE_SOLICITUDES=20

# Authentication Configuration (Azure AD)
# Obtenga estos valores del Portal de Azure (App Registrations)
AZURE_AD_CLIENT_ID=your_client_id
AZURE_AD_TENANT_ID=your_tenant_id
# El Client Secret se obtiene en 'Certificates & secrets'
AZURE_AD_CLIENT_SECRET=your_client_secret
