# Database Configuration
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=Acceso_A_Planta
DB_PORT=3306

# Server Configuration
PORT=5000
NODE_ENV=development

# Authentication Configuration (Azure AD)
AZURE_AD_CLIENT_ID=your_client_id
AZURE_AD_TENANT_ID=your_tenant_id
AZURE_AD_CLIENT_SECRET=your_client_secret
